{% load static %}

<!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                <img src="{% static '/img/me.jpg' %}" class="img-responsive" alt="me">
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <p class="p-heading">I turn Ones and Zeros into AI.</p>
              <p class="separator">A Machine Learning Engineer with a knack for building ML/DL models for finding otherwise complex or hidden
                                  pattern in data and automating real life processes. Also skilled in the data wrangling process crucial for
                                  understanding data structure, transforming the data into best format for optimal modelling and feature
                                  engineering to the end that effective models are designed, optimized and deployed into production.
                                  I am passionate about utilizing data to find solutions to real world problems. I love to explore the
                                  capabilities of Artificial Intelligence and Machine Learning in solving all sorts of problems. </p>

            </div>

          </div>
        </div>
      </div>
    </div><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <div id="services">
      <div class="container">

        <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-briefcase"></i>
                <span>SOFTWARE ENGINEERING</span>
                <p class="separator">Design, create, test, and maintain software applications using a systematic approach and engineering principles.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-binoculars"></i>
                <span>WEB DEVELOPMENT</span>
                <p class="separator">Create and maintain websites. Designing, code, test, and deploying web pages using Django and Spring Boot frameworks. Specialty, Backend.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-bar-chart"></i>
                <span>DATA ANALYSIS</span>
                <p class="separator">Collect, clean, process, and interpret data using statistical and computational methods to identify patterns, trends, and insights that can inform decision-making.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-card-checklist"></i>
                <span>MACHINE LEARNING</span>
                <p class="separator">Design, build, and deploy ML model that can learn from data to make predictions, decisions, and automate tasks in various industries such as finance, healthcare, and e-commerce.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-brightness-high"></i>
                <span>COMPUTER VISION</span>
                <p class="separator">Utilize deep learning algorithms and other image processing techniques to enable machines to interpret and understand visual information from the world around them.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-calendar4-week"></i>
                <span>NATURAL LANGUAGE PROCESSING</span>
                <p class="separator">Develop algorithms and computational models that enable machines to understand, interpret, process, and generate human language text or speech.</p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </div><!-- End Services Section -->