{% extends "portfolio/base.html" %}
{% load static %}

{% block content %}
    {% include 'portfolio/navbar2.html' %}
    <main id="main">

    <!-- ======= Blog Grid ======= -->
    <div id="journal-blog" class="text-left  paddsections">

      <div class="container">
        <div class="section-title text-center">
          <h2>journal</h2>
        </div>
      </div>

      <div class="container">
        <div class="journal-block">
          <div class="row">

            {% for blog in blogs %}
            <div class="col-lg-4 col-md-6">
              <div class="journal-info mb-30">

                <a href="{% url 'get-blog' blog.id %}"><img src="{{blog.thumbnail.url}}" class="img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4><a href="{% url 'get-blog' blog.id %}">{{blog.headline}}</a></h4>
                  <p class="separator">{{blog.sub_headline}}</p>

                </div>

              </div>
            </div>

            {% empty %}
            <div class="text-center">
              <p>Nothing to show yet, come back at a later time</p>
            </div>

            {% endfor %}

          </div>
        </div>
      </div>
    </div><!-- End Blog Grid -->

    </main><!-- End #main -->

{% endblock %}