{% load static %}

<!-- ======= Hero Section ======= -->
  <div id="hero" class="home">

    <div class="container">
      <div class="hero-content">
        <h1>I'm <span class="typed" data-typed-items="Favour Ukasoanya, Developer, Software Engineer, Machine Learning Engineer, Data Analyst"></span></h1>
        <p>Developer, Software Engineer, Machine Learning Engineer, Data Analyst</p>

        <ul class="list-unstyled list-social">
          <li><a href="https://web.facebook.com/favour.ukasoanya.5" target="_blank"><i class="bi bi-facebook"></i></a></li>
          <li><a href="https://twitter.com/Rookie_MLOps" target="_blank"><i class="bi bi-twitter"></i></a></li>
          <li><a href="https://github.com/Pharvy-U" target="_blank"><i class="bi bi-github"></i></a></li>
          <li><a href="https://linkedin.com/in/favour-ukasoanya" target="_blank"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div><!-- End Hero -->