crispy-bootstrap4
Django==4.1.4
django-ckeditor
django-clearcache
django-crispy-forms
django-dotenv
Pillow
psycopg2-binary
sqlparse
tzdata
whitenoise
gunicorn
requests
django-dotenv
django-storages
boto3